
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <nav class="navbar ">
      <div class="container">
        <a class="navbar-brand text-dark " href="#">
          <app-header></app-header>
        </a>
      </div>
    </nav>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse row navbar-collapse align-items-end justify-content-end " id="navbarSupportedContent">
      <ul class="navbar-nav d-flex align-items-end justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-dark text-decoration-none"  href="#">Sobre</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-dark text-decoration-none"href="#">Produtos</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-dark text-decoration-none" href="#">Suporte</a>
        </li>
        <li>
          <button class="btn btn-outline-primary">Sign up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


